<ion-view view-title="Your Activity" animation="no-animation"><ion-nav-bar class="bar bar-transparent bar-recess" align-title="center"><ion-nav-buttons side="right"><a class="button button-clear" ng-click="toggleMenu()"><i class="material-icons">hdr_strong</i></a></ion-nav-buttons></ion-nav-bar><ion-content class="padding gradient has-tabs no-scroll" overflow-scroll="true"><div class="notifications"><span class="notifications__message"><i class="material-icons">warning</i><span>Drop by for an appointment!</span></span><span class="dismiss"><i class="material-icons">clear</i></span></div><ion-slide-box class="activity" on-slide-changed="slideHasChanged($index)" disable-scroll="false" drag-content="false"><ion-slide class="activity__slide"><ui-chart-steps-today chart-data-steps="data.today.steps" chart-data-goal="goals.steps"></ui-chart-steps-today><div class="achievements"><div class="full"><div class="half-left"><i class="material-icons notreached" ng-if="!weekday.reached.steps">star_border</i><i class="material-icons" ng-if="weekday.reached.steps">star</i></div><div class="half-right"><i class="material-icons notreached" ng-if="!weekday.reached.active">star_border</i><i class="material-icons" ng-if="weekday.reached.active">star</i></div></div></div><ui-chart-activity-today chart-data-active="data.today.active" chart-data-goal="goals.active" label-data-total="data.today.activeTotal"></ui-chart-activity-today></ion-slide><ion-slide class="activity__slide"><ui-chart-steps-week chart-data-steps="data.week.steps" chart-data-goal="goals.steps"></ui-chart-steps-week><div class="achievements"><div class="full" ng-repeat="weekday in data.week.days"><div class="half-left"><i class="material-icons notreached" ng-if="!weekday.reached.steps">star_border</i><i class="material-icons" ng-if="weekday.reached.steps">star</i></div><div class="half-right"><i class="material-icons notreached" ng-if="!weekday.reached.active">star_border</i><i class="material-icons" ng-if="weekday.reached.active">star</i></div></div></div><ui-chart-activity-week chart-data-active="data.week.active" chart-data-goal="goals.active*7" label-data-total="data.week.activeTotal"></ui-chart-activity-week></ion-slide></ion-slide-box></ion-content><footer activity-active="true"></footer></ion-view><!--ion-view(view-title='Your Activity' animation="no-animation").view-dashion-nav-bar(align-title='center').bar.bar-transparent.bar-recess
  ion-nav-buttons(side='right')
    a(ng-click='toggleMenu()').button.button-clear
      i.material-icons hdr_strong


ion-content(overflow-scroll='true',).padding.gradient.has-tabs.no-scroll
  div.notifications
    span.notifications__message
      i.material-icons warning
      span Drop by for an appointment!
    span.dismiss
      i.material-icons clear

  ion-slide-box(on-slide-changed='slideHasChanged($index)', disable-scroll='false',drag-content='false').activity
    ion-slide.activity__slide
      ui-chart-steps-today(chart-data-steps='data.today.steps', chart-data-goal='goals.steps')
      .activity__slide-progress
        .activity__slide-progress-day
          .activity__slide-progress-step
            i(ng-if='!reached.steps').material-icons.notreached panorama_fish_eye
            i(ng-if='reached.steps').material-icons done
          .activity__slide-progress-days
            span Today {{isAndroid}}
          .activity__slide-progress-active
            i(ng-if='!reached.active').material-icons.notreached panorama_fish_eye
            i(ng-if='reached.active').material-icons done
      ui-chart-activity-today(chart-data-active='data.today.active', chart-data-goal='goals.active', label-data-total='data.today.activeTotal')

    ion-slide.activity__slide
      ui-chart-steps-week(chart-data-steps='data.week.steps', chart-data-goal='goals.steps')
      .activity__slide-progress
        .activity__slide-progress-day(ng-repeat='weekday in data.week.days')
          .activity__slide-progress-step
            i(ng-if='!weekday.reached.steps').material-icons.notreached panorama_fish_eye
            i(ng-if='weekday.reached.steps').material-icons done

          .activity__slide-progress-days
            span {{weekday.label}}
          .activity__slide-progress-week
            i(ng-if='!weekday.reached.active').material-icons.notreached panorama_fish_eye
            i(ng-if='weekday.reached.active').material-icons done

      ui-chart-activity-week(chart-data-active='data.week.active', chart-data-goal='goals.active*7', label-data-total='data.week.activeTotal')




div(ng-class='{android:isAndroid}').recess-tabs
  div(ng-class='{android:isAndroid}').recess-tabs__tab
    a(href='#/messenger',nav-transition='none')
      i.material-icons forum


  div(ng-class='{android:isAndroid}').recess-tabs__tab.active
    a(href='#/activity',nav-transition='none')
      i.material-icons timeline


  div(ng-class='{android:isAndroid}').recess-tabs__tab
    a(href='#/goal',nav-transition='none')
      i.material-icons assignment-->