$background: #0d0307;
$white: #fefefe;
$black: #232323;
$darkgray: #444444;
$turquoise: #1abc9c;
$greensea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peterriver: #3498db;
$belizehole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wetasphalt: #34495e;
$midnightblue: #2c3e50;
$sunflower: #f1c40f;
$oranje: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$deepsilver: #969990;
$asbestos: #7f8c8d;
$inactive: #898989;

$primary_recess: #f1c40f;
$primary_steps: #27ae60;
$primary_active: #2980b9;