@import 'colors';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/material-design-icons-font/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../lib/material-design-icons-font/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
  url('../lib/material-design-icons-font/iconfont/MaterialIcons-Regular.woff') format('woff'),
  url('../lib/material-design-icons-font/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

html {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.bar {

}

.bar-recess {
  border: none;
  background: none;
}

.recess-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: $white;
  height: 49px;
  font-weight: 900;
  font-size: 2em;
  &.android {
    background-color: $primary_recess;
    color: black;
  }

}

.recess-tabs__tab {
  flex: 1;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 150px;

  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.active {
    a {
      color: $primary_recess;
    }

  }

  &.android {
    * {
      color: white;
    }

  }

  &.active.android {
    * {
      color: black;
    }
  }

}

.sidemenu {
  background-color: lighten($primary_recess, 10%);

  h1 {
    font-size: 1em;
  }
}

.sidemenu__header {
  padding: 1em;
  background-color: $primary_recess;
  height: 25%;
}

.sidemenu__header-device {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;

  h1 {
    padding: 0 0 0 0.25em;
    margin: 0;
  }
}

.sidemenu__header-device-details {
  margin-top: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.sidemenu__header-device-details-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  i {
    font-size: 1em;
    padding: 0 0.5em 0 0;
  }
}

.sidemenu__content {
  margin-top: 1em;
  padding: 1em;

}

.sidemenu__content-debug {
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $midnightblue;
  color: $emerald;
  * {
    color: $emerald;
  }
  .button {
    background-color: $wetasphalt;
    font-weight: 600;
  }
}

.sidemenu__content-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    font-size: 1em;
    padding: 0 0 0 0.25em;
    margin: 0;
  }
}

//______________________

.notifications {
  position: absolute;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  height: 3em;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  &.notifications__message {

  }

  &.warning {
    display: flex;
    background-color: $wisteria;
    color: $white;
    i {
      color: lighten($amethyst, 20%);
    }
  }
}

.notifications__message {
  i {
    padding-right: 0.25em;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activity {
  height: 100%;
  padding: 0 0 1em 0;
}

.activity__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;

  margin: 0;
  width: 100%;

}

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

  margin: 0;
}

.chart-legend {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4em 0.5em 4em;

}

.chart-today-steps {

  height: 13em;
  position: relative;
  overflow: hidden;
  canvas {
    width: 100%;
  }

}

.chart-today-activity {


  .chart-activity-today {

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    height: 5em;

    canvas {
      max-height: 100%;
    }
  }

}

.chart-legend-item, .chart-legend-activity-item {
  text-align: center;
  flex: 1;
  .value {
    font-weight: 400;
    font-size: 1.8em;
    padding-bottom: 0.25em;
  }

  .label {
    font-size: 1.2em;
    font-weight: 200;
  }
}

.chart-legend-item_logo i {
  font-size: 3em;

  color: $primary_steps;
}

.chart-legend-activity-item_icon i {
  font-size: 3em;

  color: $primary_active;
}

.slider-pager {
  bottom: 0;
  font-size: 0.75em;

}

.activity__slide-progress {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.9em;
  align-items: center;
  align-content: center;

  min-height: 6em;
  div:last-child {
    font-weight: 900;
  }
}

.activity__slide-progress-days,
.activity__slide-progress-step,
.activity__slide-progress-week {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  * {
    width: 100%;
  }
  span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.activity__slide-progress-days {
  padding: 0.5em 0 0.5em 0;
}

.activity__slide-progress-step,
.activity__slide-progress-week {
  font-size: 0.8em;
}

.activity__slide-progress-day {
  width: 100%;
}

.chart-legend-activity {
  height: 6em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0.5em 2em 0em 2em;
}

.chart-activity {
  height: 14em;

}

.achievements {
  display: flex;
  flex-direction:row;
  justify-content: space-between;

  align-items: center;
}

.full {
  display: flex;
  flex-direction:row;
  justify-content: center;
  font-size: 1.5em;
  flex-grow:1;
}

.half-left, .half-right {
  color: $primary_steps;

  font-size: 1.5em;
  width: 0.75em;
  overflow: hidden;
  padding:0;
  margin:0;
  i {
    font-size: 1.5em;

    width: 0.5em;

    margin:0;
    padding:0;
  }
}
.half-right {
  color: $primary_active;
  overflow: hidden;
  i {
    margin-left: -0.5em;
  }
}

.chart-week-steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 13em;
  canvas {
    max-height: 100%;
  }

}

.chart-week-steps-labels {
  padding: 0.25em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  min-height: 2em;
}

.chart-activity-today-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding: 0.25em;
  min-height: 2em;
}

.chart-activity-week {
  height: 13em;
}



.chart-activity-week-chart {
  height: 8em;
}

.chart-bar {
  //  height: 4em;
  //  max-height: 4em;
  //  background-color: $nephritis;

}

.chart-activity-today-bar {
  //max-height: 4em;
  max-height: 100%;
}

.chart-activity-week-bar {
  max-height: 4em;
}



.chart-activity-today-labels-day {
  flex: 1;
  width: 100%;
  text-align: center;
}

.activity__slide-progress-step {
  color: $primary_steps;
  .notreached {
    color: $silver;
  }
}

.activity__slide-progress-active, .activity__slide-progress-week {
  color: $primary_active;
  .notreached {
    color: $silver;
  }
}

.image-rendering {
  image-rendering: optimizeSpeed; // Older versions of FF
  image-rendering: -moz-crisp-edges; // FF 6.0+
  image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
  image-rendering: -o-crisp-edges; // OS X & Windows Opera (12.02+)
  image-rendering: crisp-edges; // Possible future browsers.
  -ms-interpolation-mode: nearest-neighbor; // IE (non standard naming)
}

.chart-activity-today-bar {

  max-width: 100%;
  text-align: center;
  //align-self: center;

}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.tooltip-activity-today {
  position: absolute;
  top: -3em;
  right: 32%;
  background-color: $primary_active;
  color: $white;
  padding: 0.5em;
  opacity: 0.9;
  -webkit-transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  @include border-radius(0.5em);
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &.active {
    display: flex;
  }
}

//______________________
.goals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.goal-steps {
  .goal-header__icon {
    i {
      color: $primary_steps;
    }
  }
  .goal {
    .value {
      color: $primary_steps;
    }
  }
}

.goal-active {
  .goal-header__icon {
    i {
      color: $primary_active;
    }
  }
  .goal {
    .value {
      color: $primary_active;
    }
  }
}

.goal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.goal-header__icon {
  i {
    font-size: 3em;
  }

}

.goal-header__title {
  h1 {
    font-size: 2em;
  }
}

.goal-header__description {
  padding: 0 2em;
  text-align: center;
  p {
    font-weight: 300;
    letter-spacing: 0.06em;
    text-align: center;
  }
}

.goal-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;

  padding: 0 2.5em;

  .goal {
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
  }
  .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0.5em;
    i {
      color: $black;
      font-size: 1em;
      padding: 0;
      margin: 0;
      line-height: 0.7em;

    }
  }
}

.ready {
  padding-top: 1em;
  padding-bottom: 2em;
}

.button-recess {
  //border: 0.25em solid $primary_recess;
  background-color: $primary_recess;
  padding: 0.8em 1.8em;
  font-weight: 600;
  @include border-radius(2em);
}

.popup-container {

  padding: 1em;
  .popup {
    width: 100%;
    * {
      border: none;
    }
    margin: 1em;
  }
}

.choices {

  * {
    background: none;
    border: none;
  }
}

.popup-goal-active {

  .popup-buttons, .popup-head, .popup-body {
    padding: 1em 2em;
    background-color: $primary_active;
    color: $white;
    * {
      color: $white;
    }
  }

  .popup-sub-title {
    font-size: 1em;
  }

  .item-complex .item-content, .item-radio .item-content {
    background: none;
    border: none;

  }
  .choices {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    &.active {
      .item-radio input:checked + .radio-content .item-content, .radio-icon {
        background: $primary_active;
        border: none;
      }
    }
    &.steps {
      .item-radio input:checked + .radio-content .item-content, .radio-icon {
        background: $primary_steps;
        border: none;
        color: $white;
      }
    }
  }

  .radio-content {
    font-weight: 900;
  }

  .button {
    color: black;
  }
  .button-recesss-active {
    border-color: transparent;
    background-color: $white;
    color: $primary_active;
    @include border-radius(2em);
    * {
      color: $primary_active;
    }
  }

  .button-recess-cancel {
    background: none;
    color: $white;
    font-weight: 900;
  }
}

.popup-goal-steps {
  .popup-buttons, .popup-head, .popup-body {
    background-color: $primary_steps;
    padding: 1em;
    color: $white;
    * {
      color: $white;
    }
  }

  .popup-sub-title {
    font-size: 1em;
  }

  .item-complex .item-content, .item-radio .item-content {
    background: none;
    border: none;
    max-width: 50%;

  }
  .choices {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    &.active {
      .item-radio input:checked + .radio-content .item-content, .radio-icon {
        background: $primary_active;
        border: none;

      }
    }
    &.steps {
      .item-radio input:checked + .radio-content .item-content, .radio-icon {
        background: $primary_steps;
        border: none;
        color: $white;

      }
    }
    .item {
      width: 10em;
    }
  }

  .radio-content {
    font-weight: 900;

  }

  .button {
    color: black;
  }

  .button-recesss-steps {
    border-color: transparent;
    background-color: $white;
    * {
      color: $primary_steps;
    }

    @include border-radius(2em);

  }

  .button-recess-cancel {
    background: none;
    color: $white;
    font-weight: 900;
  }

}

.popup-ready {
  background-color: rgba(0, 0, 0, 0.6);
  * {
    border: none;
  }

  .popup {
    background-color: $primary_recess;
    text-align: center;

    .popup-sub-title {
      font-size: 1em;
    }

    h1, h2 {
      font-size: 1.2em;
    }
    h2 {
      color: $white;
      font-size: 1.4em;
      font-weight: 900;
    }
  }

  .button-recesss-ready {
    background-color: $white;
    @include border-radius(2em);
    border: $white solid 0.25em;
  }

  .button-recesss-ready-cancel {
    background-color: $primary_recess;
    color: black;
  }

}

//______________________
.messenger {
  margin-top: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    i {
      font-size: 6em;
      flex-grow: 4;
      &.small {
        flex-grow: 1;
        font-size: 3em;
      }
    }

  }
}

//__________________________
.bar-demo {
  background-color: $midnightblue;
  background-image: none;
  border: none;

  color: $emerald;
  .button {
    color: $emerald;
  }
}

.demo {
  background-color: $midnightblue;

  .card {
    .item {

    }

  }

  .stats {
    display: flex;
    align-items: center;
  }

  .buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      flex: 1 1 23%;
      margin: 0 1%;
    }
  }
}

.demo__device {
  padding: 0 2em;
  color: $white;
  i {
    color: $emerald;
  }

}

//__________________________
.intro {
  background-color: $primary_recess;

  color: black;

  .slider-pager {
    bottom: 2em;
  }

  #granim-canvas {

  }

  .slide {
    padding: 2em;
    text-align: center;
    max-height: 100%;
    height: 100%;
  }

  .wrapper {
    height: 100%;
  }

  .welcome {
    i {
      font-size: 8em;
      color: $white;
    }
    img {
      width: 16em;
    }

  }

  .bottom {

    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
    width: 100%;
    text-align: center;
    a {
      text-decoration: none;
      background-color: $white;
      //width: 6em;
      //padding: 0.5em 2em;
      padding: 0.8em 1.8em;
      @include border-radius(4em);

      color: black;
      font-size: 1em;

    }

  }

  .permissions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icon {
      font-size: 2em;
    }

    .description {
      text-align: left;
      padding-left: 1em;
    }
  }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .begin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}









