<ion-view view-title="Demo" name="demo" hide-nav-bar="false" has-bouncing="false"><ion-nav-bar class="bar bar-transparent bar-demo"><ion-nav-back-button class="button-clear"></ion-nav-back-button><ion-nav-buttons side="right"><a class="button button-clear" ng-click="toggleMenu()"><i class="material-icons">hdr_strong</i></a></ion-nav-buttons></ion-nav-bar><ion-content class="demo" overflow-scroll="true" scroll="true"><div class="demo__device stats"><i class="material-icons">smartphone</i><span>&nbsp;{{user.uid}}</span></div><div class="card"><div class="item item-text-wrap"><div class="stats"><i class="material-icons">directions_run</i>&nbsp; Documents ({{fireSteps.length}})</div><div class="stats"><i class="material-icons">sync</i>&nbsp;{{lastdaycollected}}</div></div></div><div class="card"><div class="item item-text-wrap"><div>View</div><div class="buttonRow"><button class="button" ng-click="viewSteps()">Steps</button><button class="button" ng-click="getSteps()">Distance</button><button class="button" ng-click="getSteps()">Flights</button></div><div>Actions</div><div class="buttonRow"><button class="button" ng-click="collect()">Collect</button><button class="button" ng-click="sync()">Sync</button><button class="button" ng-click="clear()">Clear</button></div></div></div><!--.card(ng-repeat='day in days track by $index')div
  div(ng-click='showData($index)')
    //| &nbsp;&nbsp;&nbsp;
    //inline-bar-chart(data='day.steps')
    | &nbsp;&nbsp;&nbsp;
    | {{day.date | date: 'mediumDate'}}
    | &nbsp;&nbsp;&nbsp;

  div(ng-repeat='data in day.data', ng-if='!day.showData')
    span &nbsp; &nbsp;
    span(ng-if='data.synced')
      i.fa.fa-circle
    span(ng-if='!data.synced')
      i.fa.fa-circle-o
    span &nbsp; &nbsp;
    span {{data.data.startDate | date:'HH:mm'}} - {{data.source.sourceName}} - {{data.data.value}}--></ion-content></ion-view>