<ion-view name="intro" hide-nav-bar="true" has-bouncing="false"><ion-nav-bar class="bar bar-transparent"><ion-nav-back-button class="button-clear"></ion-nav-back-button><ion-nav-buttons side="right"></ion-nav-buttons></ion-nav-bar><ion-content class="intro" overflow-scroll="true" scroll="false"><ion-slide-box class="wrapper" on-slide-changed="slideChanged($index)" does-continue="false"><ion-slide class="slide introduction"><div>&nbsp;</div><div><div class="welcome"><img src="img/logo.png"/></div><div class="title"><h1>Welcome to<strong> Recess</strong></h1></div><p>This app is part of a study to qui blanditiis praesentium voluptatum deleniti atque corrupti</p>quos dolores et quas molestias excepturi sint occaecati cupiditate non providents est et ex.<br/><br/><p>To participate we require some permissions from you</p></div><div class="bottom"><a ng-click="next(0)"><span>Sure, let's go &nbsp;</span><i class="fa fa-chevron-right"></i></a></div></ion-slide><ion-slide class="slide permissions"><div>&nbsp;</div><div><div class="title"><h1>Permissions</h1><p>To participate in the study, it is required to access relevant data.</p></div><div class="row"><div class="col-10 col-center icon"><i class="fa fa-bell-o"></i></div><div class="col-70 description"><strong>Notifications</strong><p>To engage with you, we'd like to send you some notifications regarding your fitness progress.</p></div><div class="col-20 col-center"><!--ion-toggle(ng-model='permissions.notifications', ng-change='checkNotifications()')--><label class="toggle toggle-balanced"><input type="checkbox" ng-model="permissions.notifications" ng-change="askPermissionPush()"/><div class="track"><div class="handle"></div></div></label></div></div><div class="row"><div class="col-10 col-center icon"><i class="fa fa-heartbeat"></i></div><div class="col-70 description"><strong>Fitness data</strong><p>We measure your fitness to see how active you are.</p></div><div class="col-20 col-center"><label class="toggle toggle-balanced"><input type="checkbox" ng-model="permissions.fitness" ng-change="askPermissionHealth()"/><div class="track"><div class="handle"></div></div></label></div></div><!--.row.col-10.col-center.icon
  i.fa.fa-calendar-o
.col-70.description
  strong Calendar
  p Plan ahead and schedule to achieve your goals.
.col-20.col-center
  label.toggle.toggle-balanced
    input(type='checkbox' ng-model='permissons.calendar')
    .track
      .handle
--><!--.row.col-10.col-center.icon
  i.fa.fa-plug
.col-70.description
  strong Fitbit integration
  p Connect with your Fitbit.
.col-20.col-center
  label.toggle.toggle-balanced
    input(type='checkbox' ng-model='permissons.fitbit')
    .track
      .handle
--></div><div class="bottom"><a ng-click="next(1)"><span>Next &nbsp;</span><i class="fa fa-chevron-right"></i></a></div></ion-slide><ion-slide class="slide begin"><div>&nbsp;</div><div><div class="title"><i class="material-icons">star</i></div><div class="notes"><h1>Start</h1><p>This would be a great place to spend a few words to the user before we get started.</p></div></div><div class="bottom"><a href="#/i/dont/exist"><span>Get started &nbsp;</span><i class="fa fa-chevron-right"></i></a></div></ion-slide></ion-slide-box></ion-content></ion-view>