p To be able to provide you with an overview of your fitness activity we first need access to it. If you do not want to grant permission this app might not be the right fit for you and you can simply remove it.