ion-view(name='intro', hide-nav-bar='true', has-bouncing='false' )

  ion-nav-bar.bar.bar-transparent
    ion-nav-back-button.button-clear
    ion-nav-buttons(side='right')

  ion-content(overflow-scroll='true', scroll='false').intro
    ion-slide-box(on-slide-changed='slideChanged($index)', does-continue='false').wrapper
      ion-slide.slide.introduction
        div &nbsp;
        div
          .welcome
            img(src='img/logo.png')
          .title
            h1 Welcome to
              strong  Recess

          p This app is part of a study to qui blanditiis praesentium voluptatum deleniti atque corrupti
          | quos dolores et quas molestias excepturi sint occaecati cupiditate non providents est et ex.
          br
          br
          p To participate we require some permissions from you

        .bottom
          a(ng-click='next(0)')
            span Sure, let's go &nbsp;
            i.fa.fa-chevron-right


      ion-slide.slide.permissions
        div &nbsp;
        div
          .title
            h1 Permissions

            p To participate in the study, it is required to access relevant data.

          .row
            .col-10.col-center.icon
              i.fa.fa-bell-o
            .col-70.description
              strong Notifications
              p To engage with you, we'd like to send you some notifications regarding your fitness progress.
            .col-20.col-center
              //ion-toggle(ng-model='permissions.notifications', ng-change='checkNotifications()')
              label.toggle.toggle-balanced
                input(type='checkbox' ng-model='permissions.notifications', ng-change='askPermissionPush()')
                .track
                  .handle

          .row
            .col-10.col-center.icon
              i.fa.fa-heartbeat
            .col-70.description
              strong Fitness data
              p We measure your fitness to see how active you are.
            .col-20.col-center
              label.toggle.toggle-balanced
                input(type='checkbox' ng-model='permissions.fitness', ng-change='askPermissionHealth()')
                .track
                  .handle

          //.row
            .col-10.col-center.icon
              i.fa.fa-calendar-o
            .col-70.description
              strong Calendar
              p Plan ahead and schedule to achieve your goals.
            .col-20.col-center
              label.toggle.toggle-balanced
                input(type='checkbox' ng-model='permissons.calendar')
                .track
                  .handle

          //.row
            .col-10.col-center.icon
              i.fa.fa-plug
            .col-70.description
              strong Fitbit integration
              p Connect with your Fitbit.
            .col-20.col-center
              label.toggle.toggle-balanced
                input(type='checkbox' ng-model='permissons.fitbit')
                .track
                  .handle

        .bottom
          a(ng-click='next(1)')
            span Next &nbsp;
            i.fa.fa-chevron-right

      ion-slide.slide.begin
        div &nbsp;
        div
          .title
            i.material-icons star

          .notes
            h1 Start
            p This would be a great place to spend a few words to the user before we get started.

        .bottom
          a(href='#/i/dont/exist')
            span Get started &nbsp;
            i.fa.fa-chevron-right


