@import 'https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans';
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/material-design-icons-font/iconfont/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../lib/material-design-icons-font/iconfont/MaterialIcons-Regular.woff2") format("woff2"), url("../lib/material-design-icons-font/iconfont/MaterialIcons-Regular.woff") format("woff"), url("../lib/material-design-icons-font/iconfont/MaterialIcons-Regular.ttf") format("truetype"); }

html {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.bar-recess {
  border: none;
  background: none; }

.recess-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #fefefe;
  height: 49px;
  font-weight: 900;
  font-size: 2em; }
  .recess-tabs.android {
    background-color: #f1c40f;
    color: black; }

.recess-tabs__tab {
  flex: 1;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 150px; }
  .recess-tabs__tab a {
    color: #fefefe; }
    .recess-tabs__tab a:hover {
      color: #fefefe; }
  .recess-tabs__tab:hover {
    cursor: pointer; }
  .recess-tabs__tab.active a {
    color: #f1c40f; }
  .recess-tabs__tab.android * {
    color: white; }
  .recess-tabs__tab.active.android * {
    color: black; }

.sidemenu {
  background-color: #f4d03f; }
  .sidemenu h1 {
    font-size: 1em; }

.sidemenu__header {
  padding: 1em;
  background-color: #f1c40f;
  height: 25%; }

.sidemenu__header-device {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .sidemenu__header-device h1 {
    padding: 0 0 0 0.25em;
    margin: 0; }

.sidemenu__header-device-details {
  margin-top: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column; }

.sidemenu__header-device-details-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  .sidemenu__header-device-details-detail i {
    font-size: 1em;
    padding: 0 0.5em 0 0; }

.sidemenu__content {
  margin-top: 1em;
  padding: 1em; }

.sidemenu__content-debug {
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2c3e50;
  color: #2ecc71; }
  .sidemenu__content-debug * {
    color: #2ecc71; }
  .sidemenu__content-debug .button {
    background-color: #34495e;
    font-weight: 600; }

.sidemenu__content-title {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .sidemenu__content-title h1 {
    font-size: 1em;
    padding: 0 0 0 0.25em;
    margin: 0; }

.notifications {
  position: absolute;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  height: 3em;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center; }
  .notifications.warning {
    display: flex;
    background-color: #8e44ad;
    color: #fefefe; }
    .notifications.warning i {
      color: #c6a0d5; }

.notifications__message {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .notifications__message i {
    padding-right: 0.25em; }

.activity {
  height: 100%;
  padding: 0 0 1em 0; }

.activity__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%; }

.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0; }

.chart-legend {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4em 0.5em 4em; }

.chart-today-steps {
  height: 13em;
  position: relative;
  overflow: hidden; }
  .chart-today-steps canvas {
    width: 100%; }

.chart-today-activity .chart-activity-today {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  height: 5em; }
  .chart-today-activity .chart-activity-today canvas {
    max-height: 100%; }

.chart-legend-item, .chart-legend-activity-item {
  text-align: center;
  flex: 1; }
  .chart-legend-item .value, .chart-legend-activity-item .value {
    font-weight: 400;
    font-size: 1.8em;
    padding-bottom: 0.25em; }
  .chart-legend-item .label, .chart-legend-activity-item .label {
    font-size: 1.2em;
    font-weight: 200; }

.chart-legend-item_logo i {
  font-size: 3em;
  color: #27ae60; }

.chart-legend-activity-item_icon i {
  font-size: 3em;
  color: #2980b9; }

.slider-pager {
  bottom: 0;
  font-size: 0.75em; }

.activity__slide-progress {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1.9em;
  align-items: center;
  align-content: center;
  min-height: 6em; }
  .activity__slide-progress div:last-child {
    font-weight: 900; }

.activity__slide-progress-days,
.activity__slide-progress-step,
.activity__slide-progress-week {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center; }
  .activity__slide-progress-days *,
  .activity__slide-progress-step *,
  .activity__slide-progress-week * {
    width: 100%; }
  .activity__slide-progress-days span,
  .activity__slide-progress-step span,
  .activity__slide-progress-week span {
    display: flex;
    flex-direction: column;
    align-items: center; }

.activity__slide-progress-days {
  padding: 0.5em 0 0.5em 0; }

.activity__slide-progress-step,
.activity__slide-progress-week {
  font-size: 0.8em; }

.activity__slide-progress-day {
  width: 100%; }

.chart-legend-activity {
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 2em 0em 2em; }

.chart-activity {
  height: 14em; }

.achievements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.full {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5em;
  flex-grow: 1; }

.half-left, .half-right {
  color: #27ae60;
  font-size: 1.5em;
  width: 0.75em;
  overflow: hidden;
  padding: 0;
  margin: 0; }
  .half-left i, .half-right i {
    font-size: 1.5em;
    width: 0.5em;
    margin: 0;
    padding: 0; }

.half-right {
  color: #2980b9;
  overflow: hidden; }
  .half-right i {
    margin-left: -0.5em; }

.chart-week-steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 13em; }
  .chart-week-steps canvas {
    max-height: 100%; }

.chart-week-steps-labels {
  padding: 0.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  min-height: 2em; }

.chart-activity-today-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  padding: 0.25em;
  min-height: 2em; }

.chart-activity-week {
  height: 13em; }

.chart-activity-week-chart {
  height: 8em; }

.chart-activity-today-bar {
  max-height: 100%; }

.chart-activity-week-bar {
  max-height: 4em; }

.chart-activity-today-labels-day {
  flex: 1;
  width: 100%;
  text-align: center; }

.activity__slide-progress-step {
  color: #27ae60; }
  .activity__slide-progress-step .notreached {
    color: #bdc3c7; }

.activity__slide-progress-active, .activity__slide-progress-week {
  color: #2980b9; }
  .activity__slide-progress-active .notreached, .activity__slide-progress-week .notreached {
    color: #bdc3c7; }

.image-rendering {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; }

.chart-activity-today-bar {
  max-width: 100%;
  text-align: center; }

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px; }

.tooltip-activity-today {
  position: absolute;
  top: -3em;
  right: 32%;
  background-color: #2980b9;
  color: #fefefe;
  padding: 0.5em;
  opacity: 0.9;
  -webkit-transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .tooltip-activity-today.active {
    display: flex; }

.goals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.goal-steps .goal-header__icon i {
  color: #27ae60; }

.goal-steps .goal .value {
  color: #27ae60; }

.goal-active .goal-header__icon i {
  color: #2980b9; }

.goal-active .goal .value {
  color: #2980b9; }

.goal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.goal-header__icon i {
  font-size: 3em; }

.goal-header__title h1 {
  font-size: 2em; }

.goal-header__description {
  padding: 0 2em;
  text-align: center; }
  .goal-header__description p {
    font-weight: 300;
    letter-spacing: 0.06em;
    text-align: center; }

.goal-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0 2.5em; }
  .goal-settings .goal {
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    flex-direction: row; }
  .goal-settings .icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 0.5em; }
    .goal-settings .icons i {
      color: #232323;
      font-size: 1em;
      padding: 0;
      margin: 0;
      line-height: 0.7em; }

.ready {
  padding-top: 1em;
  padding-bottom: 2em; }

.button-recess {
  background-color: #f1c40f;
  padding: 0.8em 1.8em;
  font-weight: 600;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  border-radius: 2em; }

.popup-container {
  padding: 1em; }
  .popup-container .popup {
    width: 100%;
    margin: 1em; }
    .popup-container .popup * {
      border: none; }

.choices * {
  background: none;
  border: none; }

.popup-goal-active .popup-buttons, .popup-goal-active .popup-head, .popup-goal-active .popup-body {
  padding: 1em 2em;
  background-color: #2980b9;
  color: #fefefe; }
  .popup-goal-active .popup-buttons *, .popup-goal-active .popup-head *, .popup-goal-active .popup-body * {
    color: #fefefe; }

.popup-goal-active .popup-sub-title {
  font-size: 1em; }

.popup-goal-active .item-complex .item-content, .popup-goal-active .item-radio .item-content {
  background: none;
  border: none; }

.popup-goal-active .choices {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center; }
  .popup-goal-active .choices.active .item-radio input:checked + .radio-content .item-content, .popup-goal-active .choices.active .radio-icon {
    background: #2980b9;
    border: none; }
  .popup-goal-active .choices.steps .item-radio input:checked + .radio-content .item-content, .popup-goal-active .choices.steps .radio-icon {
    background: #27ae60;
    border: none;
    color: #fefefe; }

.popup-goal-active .radio-content {
  font-weight: 900; }

.popup-goal-active .button {
  color: black; }

.popup-goal-active .button-recesss-active {
  border-color: transparent;
  background-color: #fefefe;
  color: #2980b9;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  border-radius: 2em; }
  .popup-goal-active .button-recesss-active * {
    color: #2980b9; }

.popup-goal-active .button-recess-cancel {
  background: none;
  color: #fefefe;
  font-weight: 900; }

.popup-goal-steps .popup-buttons, .popup-goal-steps .popup-head, .popup-goal-steps .popup-body {
  background-color: #27ae60;
  padding: 1em;
  color: #fefefe; }
  .popup-goal-steps .popup-buttons *, .popup-goal-steps .popup-head *, .popup-goal-steps .popup-body * {
    color: #fefefe; }

.popup-goal-steps .popup-sub-title {
  font-size: 1em; }

.popup-goal-steps .item-complex .item-content, .popup-goal-steps .item-radio .item-content {
  background: none;
  border: none;
  max-width: 50%; }

.popup-goal-steps .choices {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center; }
  .popup-goal-steps .choices.active .item-radio input:checked + .radio-content .item-content, .popup-goal-steps .choices.active .radio-icon {
    background: #2980b9;
    border: none; }
  .popup-goal-steps .choices.steps .item-radio input:checked + .radio-content .item-content, .popup-goal-steps .choices.steps .radio-icon {
    background: #27ae60;
    border: none;
    color: #fefefe; }
  .popup-goal-steps .choices .item {
    width: 10em; }

.popup-goal-steps .radio-content {
  font-weight: 900; }

.popup-goal-steps .button {
  color: black; }

.popup-goal-steps .button-recesss-steps {
  border-color: transparent;
  background-color: #fefefe;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  border-radius: 2em; }
  .popup-goal-steps .button-recesss-steps * {
    color: #27ae60; }

.popup-goal-steps .button-recess-cancel {
  background: none;
  color: #fefefe;
  font-weight: 900; }

.popup-ready {
  background-color: rgba(0, 0, 0, 0.6); }
  .popup-ready * {
    border: none; }
  .popup-ready .popup {
    background-color: #f1c40f;
    text-align: center; }
    .popup-ready .popup .popup-sub-title {
      font-size: 1em; }
    .popup-ready .popup h1, .popup-ready .popup h2 {
      font-size: 1.2em; }
    .popup-ready .popup h2 {
      color: #fefefe;
      font-size: 1.4em;
      font-weight: 900; }
  .popup-ready .button-recesss-ready {
    background-color: #fefefe;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    border-radius: 2em;
    border: #fefefe solid 0.25em; }
  .popup-ready .button-recesss-ready-cancel {
    background-color: #f1c40f;
    color: black; }

.messenger {
  margin-top: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em; }
  .messenger .icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .messenger .icon i {
      font-size: 6em;
      flex-grow: 4; }
      .messenger .icon i.small {
        flex-grow: 1;
        font-size: 3em; }

.bar-demo {
  background-color: #2c3e50;
  background-image: none;
  border: none;
  color: #2ecc71; }
  .bar-demo .button {
    color: #2ecc71; }

.demo {
  background-color: #2c3e50; }
  .demo .stats {
    display: flex;
    align-items: center; }
  .demo .buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .demo .buttonRow button {
      flex: 1 1 23%;
      margin: 0 1%; }

.demo__device {
  padding: 0 2em;
  color: #fefefe; }
  .demo__device i {
    color: #2ecc71; }

.intro {
  background-color: #f1c40f;
  color: black; }
  .intro .slider-pager {
    bottom: 2em; }
  .intro .slide {
    padding: 2em;
    text-align: center;
    max-height: 100%;
    height: 100%; }
  .intro .wrapper {
    height: 100%; }
  .intro .welcome i {
    font-size: 8em;
    color: #fefefe; }
  .intro .welcome img {
    width: 16em; }
  .intro .bottom {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
    width: 100%;
    text-align: center; }
    .intro .bottom a {
      text-decoration: none;
      background-color: #fefefe;
      padding: 0.8em 1.8em;
      -webkit-border-radius: 4em;
      -moz-border-radius: 4em;
      -ms-border-radius: 4em;
      border-radius: 4em;
      color: black;
      font-size: 1em; }
  .intro .permissions {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .intro .permissions .icon {
      font-size: 2em; }
    .intro .permissions .description {
      text-align: left;
      padding-left: 1em; }
  .intro .introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .intro .begin {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
